<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="newcampusa.newproject.countkoto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".weight_length2count"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".useful_units"  android:parentActivityName=".MainActivity"/>
        <activity android:name=".fabric_calc" android:parentActivityName=".MainActivity"/>
        <activity android:name=".count2length" android:parentActivityName=".MainActivity"/>
        <activity android:name=".count2weight" android:parentActivityName=".MainActivity"/>
        <activity android:name=".About_activity" android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>